.cards-container {
  column-gap: 2em;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  overflow-x: auto;
  padding: 1rem;
}
.cards-container::after {
  content: "";
  padding-right: 0.1em;
}
.cards-container::-webkit-scrollbar {
  display: none;
}
.card {
  box-sizing: border-box;
  background-color: #29404e;
  width: 129px;
  height: 102px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
}
.card-img {
  object-fit: cover;
  width: 22px;
  border-radius: 20px;
  margin-top: 21px;
}
.card-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px;
}
.head-events {
  font-size: 16px;
  color: #fff;
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
}
