<div>
  <h2 class="head-events">All Events</h2>
  <div class="cards-container" tabindex="0">
    <div class="card">
      <img class="card-img" src="../../assets/micro.svg" alt="Concert" />
      <p class="card-text">Concert</p>
    </div>
    <div class="card">
      <img class="card-img" src="../../assets/pingpong.svg" alt="Sports" />
      <p class="card-text">Sports</p>
    </div>
    <div class="card">
      <img class="card-img" src="../../assets/education.svg" alt="Education" />
      <p class="card-text">Education</p>
    </div>
  </div>
</div>
