<div class="calender-container">
  <div class="calender">
    <p class="calender-tag">10</p>
    <p class="calender-wochentag">Sun</p>
  </div>
  <div class="calender">
    <p class="calender-tag">11</p>
    <p class="calender-wochentag">Mon</p>
  </div>
  <div class="calender today">
    <p class="calender-tag">12</p>
    <p class="calender-wochentag">Tue</p>
  </div>
  <div class="calender">
    <p class="calender-tag">13</p>
    <p class="calender-wochentag">Wed</p>
  </div>
  <div class="calender">
    <p class="calender-tag">14</p>
    <p class="calender-wochentag">Thu</p>
  </div>
  <div class="calender">
    <p class="calender-tag">15</p>
    <p class="calender-wochentag">Fri</p>
  </div>
  <div class="calender">
    <p class="calender-tag">16</p>
    <p class="calender-wochentag">Sat</p>
  </div>
</div>
