<div class="calender-container">
  <div class="calender">
    <p class="calender-tag">10</p>
    <p class="calender-week-day">Sun</p>
  </div>
  <div class="calender">
    <p class="calender-tag">11</p>
    <p class="calender-week-day">Mon</p>
  </div>
  <div class="calender today">
    <p class="calender-tag">12</p>
    <p class="calender-week-day">Tue</p>
  </div>
  <div class="calender">
    <p class="calender-tag">13</p>
    <p class="calender-week-day">Wed</p>
  </div>
  <div class="calender">
    <p class="calender-tag">14</p>
    <p class="calender-week-day">Thu</p>
  </div>
  <div class="calender">
    <p class="calender-tag">15</p>
    <p class="calender-week-day">Fri</p>
  </div>
  <div class="calender">
    <p class="calender-tag">16</p>
    <p class="calender-week-day">Sat</p>
  </div>
</div>
